.btn-down{
  width: 242px;
height: 24px;
border-radius: 15px;
background-color: rgb(125, 0, 254);
border: 1px solid transparent;
color: white;
margin: 20% 0% 0% 18%;
font-weight: bolder;
text-decoration: none;
padding: 15px 20px 30px 30px;
text-align: center;
}

.btn-down:hover{
    animation: pulse 1s ;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }